@using System.ServiceModel.Security
@model  Snoopy.Web.Models.ConstitutionItemViewModel


<div>
    12121212112
</div>
     <div class="alert alert-info">
         @Html.Label(Model.Key);
         
    </div>
    
 


